* {
    padding: 0;
    margin: 0;
}

#container{
    height: 100vh;
    background-image: url("https://i.ibb.co.com/2bkhr5c/Pngtree-math-chalkboard-with-school-supplies-16483537.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#calculator{
    width: 320px;
    height: 510px;
    background: #9df8ff;
    margin: 0 auto;
    top: 60px;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.8);
}

#result{
    height: 120px;
    background-color: white;
    padding: 5px;
    margin: 0 15px 20px 15px;
    position: relative;
    top: 10px;
    border: inset;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#history{
    height: 30px;
    text-align: right;
    margin: 0 15px;
    color: #000000;
    font-size: 15px;
}
#output{
    height: 70px;
    text-align: right;
    margin: 0 15px;
    color: #000000; 
    font-size: 35px;
    font-weight: bold;
}
#keyboard{
    height: 430px;
}

.oparator, .number, .empty{
    width: 60px;
    height: 60px;
    margin: 5px 10px;
    float: left;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid gray;
    box-shadow: 0 2px 2px 1px black;
}

.number{
    background-color: crimson;
    color: white;
}

.empty{
    background-color: purple;
    color: white;
}

#clear, #backspace{
    background-color: orange;
    color: black;
}

.oparator{
    background-color: teal;
    color: white;
}

.oparator, .number{
    cursor: pointer;
}
